<br>
<div>
  <h3>Параметры объекта:</h3>
  Модель: <input name="id" [(ngModel)]="model.id" type="number" required placeholder="Номер"><br>
  Название: <input name="name" [(ngModel)]="model.name" type="text" required placeholder="Название"><br>
  Дата выпуска: <input name="datetime" [(ngModel)]="model.datetime" type="datetime" required placeholder="Дата"><br>
  Цена: <input name="price" [(ngModel)]="model.price" type="number" placeholder="Цена"><br>
  <button (click)="addModel()">Добавить</button>
</div>