<div class="nav">
  <nav>
      <a routerLink=""routerLinkActive="active"class="a1"[routerLinkActiveOptions]="{exact:true}">Главная</a>
      <a routerLink="/fillmodel"routerLinkActive="active"class="a2">Заполнить модель</a>
        <a [routerLink]='["models", model]' *ngFor="let model of models" class="a22">Модель {{model}}</a>
      <a routerLink="/about"routerLinkActive="active"class="a3">О cайте</a>
  </nav>
</div>

<app-home [(userName)]="name2" ></app-home>
<h3>Выбранная тема: {{name2}}</h3>
<router-outlet></router-outlet>